# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.expo
/.expo_shared
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
mobile/.expo/packager-info.json
mobile/.expo/settings.json
mobile/.expo/web/cache/development/babel-loader/081b95ef6062e5f38ce4870fe5e9072f.json
mobile/.expo/web/cache/development/babel-loader/095535ac7069ba947ec0b4f2ac0d1bba.json
mobile/.expo/web/cache/development/babel-loader/0a225e6b139673e6577df6da4ec6ec04.json
mobile/.expo/web/cache/development/babel-loader/0a7aa807ea440af6a9c44b0d0d3cda86.json
mobile/.expo/web/cache/development/babel-loader/0bb1a2d6b95c433c0e4bd1f7e800babc.json
mobile/.expo/web/cache/development/babel-loader/0d1259948236f224d2b9f23c9bc547d9.json
mobile/.expo/web/cache/development/babel-loader/0e7920a7b371a5f319ed0b5737672bde.json
mobile/.expo/web/cache/development/babel-loader/0e9380b5d0bd71fb280b01cc9e623834.json
mobile/.expo/web/cache/development/babel-loader/10526eb72701c603b0513c6abae8ed1b.json
mobile/.expo/web/cache/development/babel-loader/108e7634d02eda8b64e0e96c007893f3.json
mobile/.expo/web/cache/development/babel-loader/16f1986b1e4a34afb6d021132043396a.json
mobile/.expo/web/cache/development/babel-loader/18262447d6804027bf87053f329a9b4c.json
mobile/.expo/web/cache/development/babel-loader/188669df6919a2bd024582a28307603d.json
mobile/.expo/web/cache/development/babel-loader/1c356953cc45aa5fc5fca9eedee400d9.json
mobile/.expo/web/cache/development/babel-loader/23207ed1a5f1a8850fffddeb1813ff07.json
mobile/.expo/web/cache/development/babel-loader/259659536870b5622c728f5a44d9eb85.json
mobile/.expo/web/cache/development/babel-loader/26688ef9b80257184e312d60263f5a99.json
mobile/.expo/web/cache/development/babel-loader/27a8cdd46b1cff6e57a6b2aa31baebe4.json
mobile/.expo/web/cache/development/babel-loader/2b17f841a65cb3dd0e10578aadb77ab4.json
mobile/.expo/web/cache/development/babel-loader/2c7a14eb580fa3ea91e983040f1f98a5.json
mobile/.expo/web/cache/development/babel-loader/306a41cdf3c3e55dfe65b8939645c7e9.json
mobile/.expo/web/cache/development/babel-loader/3188b73de78a989d2b37615e66a3db69.json
mobile/.expo/web/cache/development/babel-loader/328949561b0a08e3efff313ad6fcc665.json
mobile/.expo/web/cache/development/babel-loader/333853ebd8f5ecf4405cc4176d766a22.json
mobile/.expo/web/cache/development/babel-loader/35dca8bffacb463d687cc7896a3463fe.json
mobile/.expo/web/cache/development/babel-loader/36346819017eb7356de7f794e056cd6a.json
mobile/.expo/web/cache/development/babel-loader/368fdf17fe170b06c71d8db068c83df5.json
mobile/.expo/web/cache/development/babel-loader/378fa8270ff0f77e5cd8c8b029e37213.json
mobile/.expo/web/cache/development/babel-loader/39132ddd442317c4192f64c66641aff5.json
mobile/.expo/web/cache/development/babel-loader/391b9da88e9b42c33500605d5e9042a2.json
mobile/.expo/web/cache/development/babel-loader/3f090809391b1e54e480443bbaff545f.json
mobile/.expo/web/cache/development/babel-loader/408d6c7081972792edb28b9881e807e9.json
mobile/.expo/web/cache/development/babel-loader/419ea359a0476a69cc44227e69341190.json
mobile/.expo/web/cache/development/babel-loader/41f0b8be6c0b8879d51869248f6ab7ca.json
mobile/.expo/web/cache/development/babel-loader/43cb6fa07d362c81c4ee04572cb51cc0.json
mobile/.expo/web/cache/development/babel-loader/471ddf34c0d3f0faf699616233f93588.json
mobile/.expo/web/cache/development/babel-loader/474d87b9e105473efc6cd748dd636050.json
mobile/.expo/web/cache/development/babel-loader/489770ad4478f1815d6f445213258ebf.json
mobile/.expo/web/cache/development/babel-loader/493aeb7d96ae7c7b1c796489ed917135.json
mobile/.expo/web/cache/development/babel-loader/49882a2827e5e0ecd3147401df514f2f.json
mobile/.expo/web/cache/development/babel-loader/4ad7d205faae20de8df45bda999daeb4.json
mobile/.expo/web/cache/development/babel-loader/4afd30acd08e035a18725c0000f65e2f.json
mobile/.expo/web/cache/development/babel-loader/4d3db7eb4c623a428a78b5461ef402f1.json
mobile/.expo/web/cache/development/babel-loader/4d7a35160d3c4241ad6856b77a525373.json
mobile/.expo/web/cache/development/babel-loader/4e7753b6e86fd7f174f731dffaacf963.json
mobile/.expo/web/cache/development/babel-loader/4f316f8ee81b09d6aa1a316d88bbf05f.json
mobile/.expo/web/cache/development/babel-loader/52f237d552e5cf78ae71dd4dd7f18589.json
mobile/.expo/web/cache/development/babel-loader/5674eb3239a3a1ab88d8e568b6ef0a63.json
mobile/.expo/web/cache/development/babel-loader/572926d66202533af1e49090a593f6bb.json
mobile/.expo/web/cache/development/babel-loader/575f2155bcb98eac4ad1dc70156479fd.json
mobile/.expo/web/cache/development/babel-loader/5a06fc7528f434f179b365dba75aca45.json
mobile/.expo/web/cache/development/babel-loader/5a797b5baa372e7a436059664e1929b1.json
mobile/.expo/web/cache/development/babel-loader/5c311c990481dc51354aefb2b118d0c8.json
mobile/.expo/web/cache/development/babel-loader/604efb40e12f73fe1ea4aaa821e1263a.json
mobile/.expo/web/cache/development/babel-loader/61fd5e1707088992006ab70b40fd493a.json
mobile/.expo/web/cache/development/babel-loader/668f4f1238844b9e94a0da5b25ea253a.json
mobile/.expo/web/cache/development/babel-loader/67d1317234806b00567cd442c2cac1b4.json
mobile/.expo/web/cache/development/babel-loader/6a905ca4da5732a16b44fed3bbc07752.json
mobile/.expo/web/cache/development/babel-loader/6dfcd2d641df5103c6045d1e1c8d230d.json
mobile/.expo/web/cache/development/babel-loader/71df298ceec2704cf48fd92b9b12fe4d.json
mobile/.expo/web/cache/development/babel-loader/737b501b9c95f729a7bacf508707c7c3.json
mobile/.expo/web/cache/development/babel-loader/744b7a926d4f6b900e370a0dc3c97fb2.json
mobile/.expo/web/cache/development/babel-loader/757d351e5f65d7f1eae8965fd1ad3b8a.json
mobile/.expo/web/cache/development/babel-loader/7a2dfa0e65fbaaffc8ad339fdf21d84d.json
mobile/.expo/web/cache/development/babel-loader/7d8015656c970d298f017294fe01d6a0.json
mobile/.expo/web/cache/development/babel-loader/7e5f9240dac3c8a2e089b6446227affb.json
mobile/.expo/web/cache/development/babel-loader/83c7a2865bdae2dee48f8fe6fd667b72.json
mobile/.expo/web/cache/development/babel-loader/875cd807ad080f48f533d0559a8880e2.json
mobile/.expo/web/cache/development/babel-loader/8964f48d4f0a542c012f8138878aa506.json
mobile/.expo/web/cache/development/babel-loader/8ec2c406fb715a25d209db6cc0ec068b.json
mobile/.expo/web/cache/development/babel-loader/92f02c3416e42d68cc7e10477bd6b6a0.json
mobile/.expo/web/cache/development/babel-loader/98c242d9edd44d5ecdd1b168bded3b9d.json
mobile/.expo/web/cache/development/babel-loader/9c73780c8dcd3da7a77e76eecfe2850e.json
mobile/.expo/web/cache/development/babel-loader/9e5e2bf9da8790ab2b975a8f10fbc36b.json
mobile/.expo/web/cache/development/babel-loader/a03557378cabf8bd34df2f9aac70fdc9.json
mobile/.expo/web/cache/development/babel-loader/a0f6c51bb7eb1b48e8d65f421809d128.json
mobile/.expo/web/cache/development/babel-loader/a370f90f340c5508ce9bcdb6284d5979.json
mobile/.expo/web/cache/development/babel-loader/a3950e910b38f45ce5b61ebf057b38ef.json
mobile/.expo/web/cache/development/babel-loader/a42a82dd13593189a95e9896787de338.json
mobile/.expo/web/cache/development/babel-loader/a58829cf57a593afed3477e60bf2d65a.json
mobile/.expo/web/cache/development/babel-loader/a8a67182fc3c9cf012a32fcebc620834.json
mobile/.expo/web/cache/development/babel-loader/ae2df5d93751665710884a65d8350a99.json
mobile/.expo/web/cache/development/babel-loader/afc6b5dfe678696e8306b83f2178eed3.json
mobile/.expo/web/cache/development/babel-loader/b2dd15e274c581b134b846d87572bc9f.json
mobile/.expo/web/cache/development/babel-loader/b679bb232d631f72c0663d259ae3a8cc.json
mobile/.expo/web/cache/development/babel-loader/b9f9d39901726e2b24e5b1810b0a244b.json
mobile/.expo/web/cache/development/babel-loader/bd16eb1b4eef125560677c0ecde71718.json
mobile/.expo/web/cache/development/babel-loader/bd286e3120c9347cf1254fac4ebcf906.json
mobile/.expo/web/cache/development/babel-loader/bfd09c9db94fb99aab671f21553dd1a8.json
mobile/.expo/web/cache/development/babel-loader/c2094505987d228c992380a4068c7147.json
mobile/.expo/web/cache/development/babel-loader/c49143ad7e610aa8bd17d1acc7248f99.json
mobile/.expo/web/cache/development/babel-loader/c68787ce1751a1fbfe688bc1aff585ee.json
mobile/.expo/web/cache/development/babel-loader/c8558abb8b2658bd067e995e94297872.json
mobile/.expo/web/cache/development/babel-loader/ca610af74845003b71976ea0c9c1d08f.json
mobile/.expo/web/cache/development/babel-loader/cb1300468df429fafcd4c1b76a829166.json
mobile/.expo/web/cache/development/babel-loader/cce621e65732cf1d15ceee8ab3605232.json
mobile/.expo/web/cache/development/babel-loader/cf10d371ce6c9cc7475785197f67faf8.json
mobile/.expo/web/cache/development/babel-loader/cf27322193902bd1c4580476e65b1e60.json
mobile/.expo/web/cache/development/babel-loader/d19419eef264f8d491c0333f6f40b46a.json
mobile/.expo/web/cache/development/babel-loader/d587d6e0c5529245d4ec8673320051d2.json
mobile/.expo/web/cache/development/babel-loader/d82bd3763c9b39775c2b8f71490f3d00.json
mobile/.expo/web/cache/development/babel-loader/d9810aa72da2e87077487c0e0d0a42dd.json
mobile/.expo/web/cache/development/babel-loader/d984e064849a5cb07b416c331f432af9.json
mobile/.expo/web/cache/development/babel-loader/da759a10d3faa16aadf64f70456b361b.json
mobile/.expo/web/cache/development/babel-loader/dc319f3ffe1190750a3aa509ccdecd5d.json
mobile/.expo/web/cache/development/babel-loader/dcd3f7d61f98f794d192699c0cac782f.json
mobile/.expo/web/cache/development/babel-loader/deec4f67b69b7beb098581f893fdef05.json
mobile/.expo/web/cache/development/babel-loader/e13b9123d7ea3ce29ffd2c1fdc7f0406.json
mobile/.expo/web/cache/development/babel-loader/e7d1496b7d4bce9f003ecdbfe32dfb3b.json
mobile/.expo/web/cache/development/babel-loader/e9b03e9f030af104e8ca568b7ee9b7bd.json
mobile/.expo/web/cache/development/babel-loader/e9e06071d9df9dbd587917d4b9d1a157.json
mobile/.expo/web/cache/development/babel-loader/ee63672c6e0c76402b81da85c956aa36.json
mobile/.expo/web/cache/development/babel-loader/f0da4a3fd2ae7659c49b1dc74635fa95.json
mobile/.expo/web/cache/development/babel-loader/f2df89f2e144b2d008fcc88e40dae553.json
mobile/.expo/web/cache/development/babel-loader/f5afe90b41c3ca18063b914228149b2e.json
mobile/.expo/web/cache/development/babel-loader/f96a2fe886a97e38b4816d6f1ac76375.json
mobile/.expo/web/cache/development/babel-loader/fc173d0424771248a6d4115aba32c5da.json
mobile/.expo/web/cache/development/babel-loader/fc447f1bac96f8119cfb5eeb08d3c89f.json
mobile/.expo/web/cache/development/babel-loader/fd55feb1c659dae514b86fa9e17feecd.json
mobile/.expo/web/cache/development/babel-loader/fefd9535089ad1ee51ed85d38cf48cfa.json
mobile/.expo-shared/assets.json
